@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
@font-face {
  font-family: "Reloj";
  src: url("/fonts/fuenteReloj.ttf") format("truetype");
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Oswald", sans-serif;
}
main {
  flex-grow: 1;
}

.contenedorReloj {
  border: 1px rgba(94, 103, 38, 0.258) solid;
  border-radius: 15px;
  height: fit-content;
  margin-top: 35px;
  max-width: 600px;
  padding: 20px;

  background-image: linear-gradient(135deg, #456f84 10%, #53409f 100%);
}

.fecha {
  border-radius: 9px;
  font-weight: 500;
  font-size: 25px;
  background-image: linear-gradient(135deg, #3b26675c 10%, #bc78ec5d 100%);
  width: 100%;
  letter-spacing: 1px;
  padding: 10px 0px 10px 0px;
  box-shadow: 1px 1px #18133453;
  border: solid 2px rgba(137, 43, 226, 0.145);
  min-width: 300px;
}
.hora {
  margin-top: 5px;
  background-image: linear-gradient(135deg, #3b266742 10%, #bc78ec40 100%);
  padding: 30px 25px 30px 25px;
  border-radius: 15px;
  text-shadow: -4px 8px 4px rgb(34, 48, 42);
  font-family: "Reloj", sans-serif;
  box-shadow: 1px 1px #18133453;
  border: solid 1px rgba(137, 43, 226, 0.145);
  width: 100%;
  min-width: 300px;
}
@media (max-width: 450px) {
  .hora {
    font-size: xx-large;
  }
}
